.nav {
    background-color: gray;
    padding-left: 0px;
}

.nav a {
    color:white;
}

li a{
    color: black;
}

img {
    max-width: 30%;
    height: auto;
    border-radius: 60%;
}

body {
    padding-left: 50px;
}